<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>TestConnectionServlet</servlet-name>
        <servlet-class>com.example.ecommercefluxodecaixaalberto_everaldina.servlet.TestConnectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestConnectionServlet</servlet-name>
        <url-pattern>/testConnection</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RecebimentoPagamentoServlet</servlet-name>
        <servlet-class>com.example.ecommercefluxodecaixaalberto_everaldina.servlet.RecebimentoPagamentoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecebimentoPagamentoServlet</servlet-name>
        <url-pattern>/recebimento-pagamento/mes</url-pattern>
    </servlet-mapping>
</web-app>

